@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #212121;
  --color-surface: #2F2F2F;
  --color-primary: #3b82f6;
  --color-text: #ECECEC;
  --color-muted: #B4B4B4;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text m-0 p-0 font-sans;
    width: 400px;
    height: 100vh;
    overflow-x: hidden;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 10px;
}

.perspective-1000 {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-container, .print-container * {
    visibility: visible;
  }
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: black;
  }
}
